* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background: #f4f6fc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    width: 400px;
    background: #ffffff;
    padding: 35px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

.top-box {
    background: #e8efff;
    padding: 50px;
    border-radius: 20px;
}

.top-box h1 {
    font-size: 35px;
    color: #006aff;
}

.desc {
    font-size: 15px;
    color: #666;
    margin: 30px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.btn-outline {
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #006aff;
    color: #006aff;
    text-decoration: none;
    font-weight: 600;
}

.btn-filled {
    padding: 10px 25px;
    border-radius: 10px;
    background: #006aff;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.btn-outline:hover,
.btn-filled:hover {
    opacity: 0.8;
}
.verify-card {
    width: 400px;
    background: #ffffff;
    padding: 35px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

.verify-card h2 {
    color: #006aff;
    margin-bottom: 15px;
}

.verify-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 25px 0;
}

.code-inputs input {
    width: 45px;
    height: 50px;
    text-align: center;
    font-size: 22px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.verify-btn {
    width: 100%;
    margin-top: 20px;
}

.resend {
    font-size: 14px;
    margin-top: 15px;
}

.resend a {
    color: #006aff;
    font-weight: bold;
    text-decoration: none;
}
.profile-card {
    width: 400px;
    background: #ffffff;
    padding: 35px;
    border-radius: 28px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

.profile-card h2 {
    color: #006aff;
    margin-bottom: 20px;
}

.profile-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
}

.upload-label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    color: #444;
    text-align: left;
}
